.allElements-div{
width: 300px;
border-radius: 4px;
margin-left: 400px;
margin-top: 200px;
margin-right: 200px;
padding-bottom: 100px;
padding-left: 50px;
background-color: rgb(109, 109, 69);

}

.rock-html,
.paper-html,
.scissor-html {
    width: 80px;
    border-radius: 100%;
    border-radius: none;
    background-color: rgb(83, 83, 55);
    margin-top: 80px;
   
}
.move-icon{
    width: 40px;
    height: 40px;
}
.picks-div{
    display: flex;
    align-items: center;
    margin-left: 26px;
    font-family: arial;
    font-weight: bold;
}

.picks-User { 
    display: flex;
    font-size: 20px;
    font-family: arial;
    align-items: center;
    color: whitesmoke;
}
.scores-div {
    color: whitesmoke;
    margin-left: 20px;

}
.resetScore {
    margin-top: 10px;
    background-color: rgb(162, 21, 21);
    color: whitesmoke;
    font-family: arial;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
.autoplayButton {
    background-color: rgba(211, 10, 233, 0.536);
    color: whitesmoke;
    font-family: arial;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
.results-Div {
    font-family: arial;
    font-size: xx-large;
}
.scores-div,
.resetButton-div {
    font-family: arial;
}

